.basic-container {
  padding-bottom: 80px;

  input::placeholder {
    color: #c0c0c0;
  }
}

.basic-tooltip {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.cell-list {
  height: 600px !important;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cell-list-item {
  max-height: 45px;
  font-weight: 14;
  font-size: 20px;

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .badge {
    float:left;
    margin-top: 2px;
    background-color: #b0b0b0 !important;
    &:hover {
      background-color: #7e7e7e !important;
    }
  }
}

.ng-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  max-width: 100%;
  &.ng-button-row {
    justify-content: center;
  }
}

.ng-heading {
  color: black;
  margin-top: 15px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ng-group {
  color: black;

  .ng-control-container {
    width: 60%;
    float: right;
    margin-right:20px;

    .ng-control {
      float: right;

      button {
        border: 1px solid #ced4da !important;
      }

      .ng-control-number {
        text-align: center;
        z-index: 10 !important;
        -moz-appearance:textfield;
      }

      &.ng-control-sm {
        width: 45%;
        float: right;
      }

      &.ng-control-switch > input {
        margin-top: 0;
      }

      &.ng-control-switch-sm > input {
        max-height: 20px;
        margin-top: 0;
      }
    }
  }

  .ng-label {
    text-align: left;
    width: 30%;
    float: left;
    margin-left:20px;

    &.ng-label-lg {
      font-size: 30px;
    }

    &.ng-label-md {
      font-size: 22px;
    }

    &.ng-label-sm {
      font-size: 16px;
    }
  }
}

.ng-error {
  color: red;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

  &:hover {
    background: #555;
  }
}