.basic-container {
  padding-bottom: 80px;

  input::placeholder {
    color: #c0c0c0;
  }
}

.board {
  min-width: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

  .board-col {
    height: 100% !important;
    min-height: 100% !important;
  }
}

.basic-tooltip {
  margin-left: 10px;
}

.basic-toast {
  min-width: 200px;
  max-width: 250px !important;
  max-height: 50px !important;
  padding: 0;
  margin-left: -125px;
  background-color: rgba(0, 0, 0, 0.47) !important;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 30px;
}

.hidden {
  display: none;
}

.main-card {
  height: 700px !important;
}

.cell-list {
  height: 600px !important;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-item {
  max-height: 45px;
  font-size: 20px;

  &.cell-list-item {
    font-weight: 100;
  }

  &.main-list-item {
    max-height: 50px !important;
    text-align: left;
    cursor: pointer;

    p {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background-color: #ececec;
    }
  }

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .badge {
    float:left;
    margin-top: 2px;
    background-color: #b0b0b0 !important;
    &:hover {
      background-color: #7e7e7e !important;
    }
  }
}

.ng-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  max-width: 100%;
  &.ng-button-row {
    justify-content: center;
  }
}

.main-heading-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-heading {
    color: #808080;
    margin-top: 5px !important;
    vertical-align: center;
    margin-bottom: 200px !important;
  }
}

.main-link {
  color: #6f74ff;
}

.ng-heading {
  color: black;
  margin-top: 5px !important;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ng-group {
  color: black;

  .ng-control-container {
    width: 60%;
    float: right;
    margin-right:20px;

    .ng-control {
      float: right;

      button {
        border: 1px solid #ced4da !important;
      }

      .ng-control-number {
        text-align: center;
        z-index: 10 !important;
        -moz-appearance:textfield;
      }

      &.ng-control-sm {
        width: 45%;
        float: right;
      }

      &.ng-control-switch > input {
        margin-top: 0;
      }

      &.ng-control-switch-sm > input {
        max-height: 20px;
        margin-top: 0;
      }
    }
  }

  .ng-label {
    text-align: left;
    width: 30%;
    float: left;
    margin-left:20px;

    &.ng-label-lg {
      font-size: 30px;
    }

    &.ng-label-md {
      font-size: 22px;
    }

    &.ng-label-sm {
      font-size: 16px;
    }
  }
}

.ng-error {
  color: red;
  font-size: 16px;
}

.col-players {
  background-color: #6a413d;
}

.col-board {
  background-color: #2f4c6a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

  &:hover {
    background: #555;
  }
}